{% extends "base.html" %}
{% load custom %}

{% block "title" %}Show Details{% endblock %}

{% block "pageHeading" %}
	{% if show_row %}
		{{ show_row }} Details
	{% else %}
		Show Details
	{% endif %}
{% endblock %}

{% block "contentMainHeading" %}
	This is the show details page
	{% if show_row %} for: {{ show_row }}{% endif %}
{% endblock %}

{% block "content" %}
	{% if show_row %}
	{% else %}
		<p>Please add your show</p>
	{% endif %}
	<form method="post">
		{% csrf_token %}

		{% for field_name in form %}
		<div class="formField form{{ field_name.field.widget|widget_name }}">
			<label for="{{ field_name.id_for_label }}">{{ field_name.label }}</label>
			{{ field_name }}
			{% if field_name.errors %}
				{{ field_name.errors }}
			{% endif %}dfdf

		</div>
		{% endfor %}
		<div class="formField formSubmit">
			<button>Submit</button>
		</div>
	</form>
{% endblock %}

