{% extends "home/logged-out.html" %}

{% block "pageHeading" %}
	{% if dog %}
		<a href="{% url waggytails.views.dog_details %}">Add a dog</a>
	{% else %}
		Record results
	{% endif %}
{% endblock %}

{% block "contentMainHeading" %}

{% endblock %}

{% block "content" %}
	<ol>
		{% for dog in dogs %}
		<li><a href="{% url waggytails.views.dog_details id=dog.id %}">{{ dog.name }}</a></li>
		{% endfor %}
	</ol>
	{% if dog %}
	{% else %}
		<p><a href="{% url waggytails.views.dog_details %}">Add a dog</a></p>
	{% endif %}
{% endblock %}
