{% extends "base.html" %}
{% load custom %}

{% block "title" %}Class Details{% endblock %}

{% block "pageHeading" %}{{ class_row }} Class Details{% endblock %}

{% block "contentMainHeading" %}
	This is the class details page for: {{ class_row }}
{% endblock %}

{% block "content" %}
	{% if class_row %}
		<div class="classDetails">
			{% if class_row.show_date %}
				<p>Date: {{ class_row.show_date }}</p>
			{% endif %}
			<p>Class Number: {{ class_row.class_number }}</p>
			<p>Name: {{ class_row.name }}</p>
			<p>Class Type: {{ class_row.class_type }}</p>
			<p>Class Height: {{ class_row.class_height }}</p>
			{% if class_row.class_grades %}
				<p>Class Grades: {{ class_row.class_grades }}</p>
			{% endif %}
			<p>Judge: {{ class_row.judge }}</p>
			{% if class_row.ring %}
				<p>Ring Number: {{ class_row.ring }}</p>
			{% endif %}
			{% if class_row.class_size %}
				<p>Class Size: {{ class_row.class_size }}</p>
			{% endif %}
			<p>Show: {{ class_row.show }}</p>
			{% if class_row.qualifier %}
				<p>Qualifier: {{ class_row.qualifier }}</p>
			{% endif %}
		</div>
	{% else %}
		<p>Please add your class</p>
	{% endif %}

	<form method="post">
		{% csrf_token %}

		{% for field_name in form %}
		<fieldset class="formField form{{ field_name.field.widget|widget_name }}">
			<label for="{{ field_name.id_for_label }}">{{ field_name.label }}</label>
			{{ field_name }}
			{% if field_name.errors %}
				{{ field_name.errors }}
			{% endif %}

			{% if dog_error  %}
				{% if field_name.label = "Dog name" %}
					{{ dog_error }}
				{% endif %}
			{% endif %}

		</fieldset>
		{% endfor %}

		<fieldset class="formField formSubmit">
			<button>Submit</button>
		</fieldset>
	</form>
{% endblock %}
