<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Agility Diary {% block "title" %}{% endblock %}</title>
	<meta name="description" content="" />

	<!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/css/styles.css" />

	<script src="/static/javascript/foundation/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header class="layout-header row">
		<div class="nine columns">
			<h1><a href="{% url waggytails.views.home %}">{% block "siteHeading" %}AgilityDiary{% endblock %}</a></h1>
			<h2>{% block "pageHeading" %}Base HTML Page{% endblock %}</h2>
		</div>
		<div class="three columns">
			<!-- TODO: - Logout -->
			<p>You are logged in as: <strong>{{ user }}</strong> ~ <a href="">Logout</a> </p>
			{% block "primaryNav" %}
				<ul>
					<li><a href="{% url waggytails.views.dog_list %}">Add results</a></li>
					<li><a href="{% url waggytails.views.dog_list %}">Enter show</a></li>
					<li><a href="{% url waggytails.views.dog_list %}">Dogs</a></li>
					<li><a href="{% url waggytails.views.calendar_view %}">Calendar</a></li>
					<li><a href="{% url waggytails.views.show_list %}">Show list</a></li>
					<li><a href="{% url waggytails.views.user_details %}">My details</a></li>
				</ul>
			{% endblock %}
		</div>
	</header>

	<div class="row">
		<div class="twelve">
			<h3>{% block "contentMainHeading" %}Contents{% endblock %}</h3>
			{% block "sharedContent" %}
			{% endblock %}
			{% block "content" %}
				This is the base page Contents
			{% endblock %}
		</div>
	</div>
	<footer class="layout-footer row">
		{% block "pageFooter" %}
			<p>Copyright AgilityDiary 2012 ~ <a href="{% url waggytails.views.site_contact %}">Contact</a> ~ <a href="{% url waggytails.views.site_about %}">About</a></p>
		{% endblock %}
	</footer>
</body>
</html>
