<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Agility Diary {% block "title" %}{% endblock %}</title>
	<meta name="description" content="" />

	<!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/css/styles.css" />

	<script src="/static/javascript/foundation/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header class="layout-header row">
		<div class="twelve">
			<h1>{% block "siteHeading" %}Agility Diary{% endblock %}</h1>
			<h2>{% block "pageHeading" %}Base HTML Page{% endblock %}</h2>
			<hr />
		</div>
	</header>
	<div class="row">
		<div class="twelve">
			You are logged in as  {{ user }}
		</div>
	</div>

	<div class="row">
		<div class="twelve">
			<h3>{% block "contentMainHeading" %}Contents{% endblock %}</h3>
			{% block "content" %}
				This is the base page Contents
			{% endblock %}
		</div>
	</div>
	<footer class="layout-footer row">
		{% block "pageFooter" %}
			Page Footer
		{% endblock %}
	</footer>
</body>
</html>
