{% extends "base.html" %}
{% load custom %}

{% block "title" %}Dog Details{% endblock %}

{% block "pageHeading" %}{{ dog }}'s Details{% endblock %}

{% block "contentMainHeading" %}
	This is the dog details page for: {{ dog }}
{% endblock %}

{% block "content" %}
	{% if dog %}
		<p><a href="{% url waggytails.views.dog_details %}">Add a dog</a></p>
	{% endif %}
	<form method="post">
		{% csrf_token %}

		{% for field_name in form %}
		<div class="formField form{{ field_name.field.widget|widget_name }}">
			<label for="{{ field_name.id_for_label }}">{{ field_name.label }}</label>
			{{ field_name }}
			{% if field_name.errors %}
				{{ field_name.errors }}
			{% endif %}
		</div>
		{% endfor %}

		<div class="formField formSubmit">
			<button>Submit</button>
		</div>
	</form>
	{% if dog %}
		<p><a href="{% url waggytails.views.dog_details %}">Add a dog</a></p>
	{% endif %}
{% endblock %}
