//Colour palette
$color-white:				#fff;
$color-black:				#000;
$color-brand:				#000;

// For use with rgba
// $color-brand-primary:		120, 192, 192;

// http://www.colourlovers.com/palette/92095/Giant_Goldfish
// $color-brand-primary:		22,147,165; //Dutch teal
// $color-brand-primary:		250,105,0; //Unreal food pills
// $color-brand-secondary:		105,210,231; //aoi
// $color-brand-tertiary:			167,219,216; //Clean pondwater

// http://www.colourlovers.com/palette/2476476/Charuca
// $color-brand-primary:		224,2,89; // * pink
// $color-brand-secondary:		249,255,255; // sense me
// $color-brand-secondary:		97,0,23; // vibrancy
// $color-brand-tertiary:			172,195,25; // * lime

// http://www.colourlovers.com/palette/694737/Thought_Provoking
// $color-brand-primary:		83,119,122; // Plumage
// $color-brand-secondary:		192,41,66; // Cornucopia
// $color-brand-tertiary:			217,91,67; // Saffron

// (◕〝◕)
// http://www.colourlovers.com/palette/629637/(%E2%97%95%E3%80%9D%E2%97%95)
// $color-brand-primary:		131,175,155; // Duck egg
// $color-brand-secondary:		254,67,101; // Cornucopia
// $color-brand-tertiary:			252,157,154; // Peony

// $color-brand-complementary:	249,205,173; // Sugar champagne
// $color-brand-complementary:	200,200,169; // Timothy Hay

// http://www.colourlovers.com/palette/2518656/day_dreamer..?widths=0
// $color-brand-primary:		47,16,89; // Azurite
// $color-brand-secondary:		156,217,214; // Sunken pool
// $color-brand-tertiary:			102,117,152; // Darkening sky

// http://www.colourlovers.com/palette/1389950/teal_brocade
// Hex
$color-brand-primary:		#429398; // Rainforest
$color-brand-secondary:		#6B5D4D; // Molasses
$color-brand-tertiary:			#B0A18F; // Natural twine

$color-brand-complementary1:	#DFCDB4; // Reed
$color-brand-complementary2:	#FBEED3; // Gypsy moth

// RBG
$color-brand-rgb-primary:		66,147,152; // Rainforest - #429398
$color-brand-rgb-secondary:		107,93,77; // Molasses - #6B5D4D
$color-brand-rgb-tertiary:			176,161,143; // Natural twine - #B0A18F

$color-brand-rgb-complementary1:	223,205,180; // Reed - #DFCDB4
$color-brand-rgb-complementary2:	251,238,211; // Gypsy moth - #FBEED3






// $color-brand-complementary:	rgba(120, 192, 192, 1);

$color-copy:				lighten($color-black, 10%);
$color-text-shadow:			darken($color-white, 5%);
// $color-default-link:			darken($color-brand-primary, 10%);

// $color-default-link:		darken($color-brand-primary, 10%);
// $color-default-border:		lighten($color-black, 50%);

