{% extends "base.html" %}
{% load custom %}

{% block "title" %}User Details{% endblock %}

{% block "pageHeading" %}User Details{% endblock %}

{% block "contentMainHeading" %}
	This is the logged in user details page
{% endblock %}

{% block "content" %}
	<form method="post">
		{% csrf_token %}

		{% for field_name in form %}
		<fieldset class="formField form{{ field_name.field.widget|widget_name }}">
			<label for="{{ field_name.id_for_label }}">{{ field_name.label }}</label>
			{{ field_name }}
			{% if field_name.errors %}
				{{ field_name.errors }}
			{% endif %}
		</fieldset>
		{% endfor %}

		<fieldset class="formField formSubmit">
			<button>Submit</button>
		</fieldset>
	</form>
{% endblock %}

